<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dark Lyrics</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='home.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Autour+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='favicon.png') }}"
    />
  </head>
  <body>
    <div class="background">
      <header>
        <h1 class="basetext" id="title">Dark Lyrics</h1>
        <h3 class="basetext" id="subtitle">
          Most common words used by your favourite band
        </h3>
      </header>

      <main>
        <form method="POST" action="" id="bandfield">
          <input
            class="redbox"
            type="text"
            name="band"
            autofocus="autofocus"
            placeholder="Enter a band's name."
          />
          <input
            class="redbox"
            type="submit"
            name="submit"
            value="Query"
          />
        </form>
      </main>

      {% if invalid %}

      <p id="invalid_text">Invalid band's name</p>

      {% endif %}

	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='rain.js') }}"></script>
  </body>
</html>
