@font-face {
  font-family: Augusta;
  src: url("Augusta.ttf");
}

#title {
  transform: translate(55%, 18%);
  font-size: 140px;
  text-shadow: 2px 2px 2px rgb(180, 0, 0);
}

#subtitle {
  transform: translate(62%, 280%);
  font-size: 30px;
}

.basetext {
  color: rgb(153, 0, 0);
  font-family: "Augusta", bold;
  position: absolute;
}

#bandfield {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -120px;
  display: inline-block;
  align-content: center;
}

body {
  background-color: rgb(50, 0, 0);
  padding: 30px;
  overflow: hidden;
}

.redbox {
  background-color: rgb(40, 0, 0);
  color: rgb(200, 0, 0);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#pent {
  width: 500px;
  position: absolute;
  height: auto;
  animation-name: rotate;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -1;
}

@keyframes raining {
  to {
    margin-top: 1000px;
  }
}

.raindrop {
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  background: red;
  animation-name: raining;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
